@charset "utf-8";

html,
body,
#app,
#map {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

html,
body,
div,
form,
input,
select,
p,
a,
i,
em,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
table,
td,
tr,
th,
span,
header,
section,
nav,
footer,
article,
details,
section {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px;
}

body {
  position: relative;
  overflow: auto !important;
}

input,
select {
  outline: none;
}

ol,
ul,
dl {
  list-style: none;
}

.panel {
  z-index: 1;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 2px;
}

.localDataImport {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background-color: #dbe1e1 !important;
  z-index: 9;
}

#img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#img_box img {
  width: unset !important;
  height: 100% !important;
}