html[data-theme="dark"] {
  --background-color: #1C1D1F;
  --background-color2: #2F3035;
  --background-color3: #424349;
  --background-color4: #232527;
  --text-color: #ffffff;
  --text-color2: #686868;
  --text-color3: #ffffff;
  --text-color4: #E1EEEE;
  --text-color5: #B8C2C2;
  --text-color-active: #0071E3;
  --border-color: #136FCB;
  --cme-border: 1px solid #ffffff;
  --bd-transparent: 1px solid #00000000;
}

html[data-theme="light"] {
  --background-color: #F6F8FC;
  --background-color2: #ffffff;
  --background-color3: #424349;
  --background-color4: #ffffff;
  --text-color: #1C1D1F;
  --text-color2: #686868;
  --text-color3: #34353a;
  --text-color4: #686868;
  --text-color5: #B8C2C2;
  --text-color-active: #0071E3;
  --border-color: #136FCB;
  --cme-border: 1px solid #424349;
  --bd-transparent: 1px solid #00000000;
}

:root {
  --scollbar-bg-color: transparent;
  --scollbar-color: #2588DEFF;
}

html,
body,
div,
form,
input,
select,
p,
a,
i,
em,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
table,
td,
tr,
th,
span,
header,
section,
nav,
footer,
article,
details,
section {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: inline-block;
  vertical-align: middle;
}

img:not(.icon) {
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;

  &[class]:hover {
    text-decoration: none;
  }

  &[href]:hover {
    color: var(-active-color2);
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

i {
  font-style: normal;
}

.center {
  text-align: center;
}

.full {
  width: 100%;
}

.radius4 {
  border-radius: 4px;
}

.radius8 {
  border-radius: 8px;
}

.noselect {
  user-select: none;
}

.hidden {
  visibility: hidden !important;
}

.oneline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

hr.splitor {
  width: 100%;
  height: 0;
  border: none;
  border-bottom: 1px solid var(--border-color);
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 2px;
}